.row{
	overflow: hidden;
	padding: 5%;
	text-align: center;
	color: #dedede;
    font-family: sans-serif;
}
#home{
	background-image: url(../img/homeBg1.jpg);
	background-size: cover;
}
#home img{
	height: 300px;
    width: 300px;
    margin: 0 auto;
    border: 3px solid #ffffff;
}
h1 {
	
}
#home p {
	font-size: 1.5rem;
}
.briefinfo{
	font-size: 1.9rem !important;
	padding: 5% 10%
}
.selfInfo{
	
}
.profilePic{
	
}
#about-me{
	background-image: url(../img/aboutMeBg.jpg);
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}
#skill{
	background-image: url(../img/skills.jpg);
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}
#about-me p{
	text-align: left;
    padding-bottom: 1%;
    font-size: large;
}
.page-divider{
	background-image: url(../img/heading.png);
    position: absolute;
    top: -34px;
    left: 0;
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.page-title{
	margin-bottom: 5%;
}
#about-me img {
	background: #e0e0e0;
    height: 200px;
    width: 200px;
    box-shadow: inset 0 0 0 25px rgba(0, 0, 0, 0.1);
    margin: 10% 0;
}
.about-me-info {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-bottom: 3%;
}
.right div {
	float: right;
}
.left img {
	float: right;
}
#about-me h3{
	text-align: left;
    color: #2ae4dc;
}
#about-me img:hover
{
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}
#about-me img < div {
	position: relative;
}
#education {
	background-image: url(../img/education.jpg);
	background-size: cover;
	position: relative;
}
.eduDetails {
	border: 1px solid #238892;
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    color: #404040;
}
.eduDetails .bg {
	background: #238892;
    height: 150px;
    width: 100%;
    border: 1px solid #31b2bf;
}
.eduDetails .logo {
	width: 43%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: -100px;
}
.logo img {
	width: 150px;
    height: 150px;
}
.eduDetails .text {
	padding-top: 20%;
	padding-bottom: 5%;
	position: relative;
}
.text h3 {
	color: #238892;
}
.skillInfo{
	width: 90%;
	background-size: contain !important;
    position: relative;
    border: 2px solid #088fa5;
    border-radius: 1rem;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin: 5%;
}
.html{
	background: #fff url(../img/htmlLogo.png);
}
.skillInfo span{
	position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 25%;
    text-align: center;
    background: rgba(0, 0, 0, 0.43);
    border-top: 2px solid #088fa5;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: sans-serif;
    line-height: 5rem;
}
.css {
	background: #fff url(../img/csslogo.png);
}
.bootstrap {
	background: #fff url(../img/bootstraplogo.png);
}
.javascript{
	background: #fff url(../img/jslogo.png);
}
.jQuery{
	background: #fff url(../img/jqueryLogo.gif);
}
.react{
	background: #fff url(../img/reactlogo.png);
}
.git{
	background: #fff url(../img/gitLogo.png);
}
.agile{
	background: #fff url(../img/agileLogo.png);
}
#traning {
	position: relative;
	background: #fff url(../img/trainingBg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}
#traning img {
	display: inline-block;
    background: #fff;
    padding: 2%;
    border-radius: 10rem;
    box-shadow: 3px 7px #00b3b4;
}
.page-inner-title{
	margin-top: 5%;
}
.footer{
	text-align: center;
}
.container-nav ul{
	float:right !important;
}
.active > a {
	border-bottom: 2px solid #00b3b4;
    color: #00b3b4 !important;
    background: transparent !important;
}
.scrollup:hover {
  background-color: #555;
}
.scrollup {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background: #0bb3b4 url(../img/topIcon.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: pointer;
	height: 50px;
	border-radius: 3rem;
	width: 50px;
}
.hide{
	display: none;
}




