.row{
	overflow: hidden;
	padding: 5%;
	text-align: center;
	color: #dedede;
    font-family: sans-serif;
}
#home{
	background-image: url(../img/homeBg1.jpg);
	background-size: cover;
}
#home img{
	height: 300px;
    width: 300px;
    margin: 0 auto;
    border: 3px solid #ffffff;
}
h1 {
	text-decoration: underline;
}
#home p {
	font-size: 1.5rem;
}
.briefinfo{
	font-size: 1.9rem !important;
	padding: 5% 10%
}
.selfInfo{
	
}
.profilePic{
	
}
#about-me{
	background-image: url(../img/aboutMeBg.jpg);
	background-size: cover;
	position: relative;
}
#about-me p{
	text-align: left;
    padding-bottom: 1%;
    font-size: large;
}
.page-divider{
	background-image: url(../img/heading.png);
    position: absolute;
    top: -34px;
    left: 0;
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.page-title{
	margin-bottom: 5%;
}
#about-me img {
	background: #e0e0e0;
    height: 200px;
    width: 200px;
    box-shadow: inset 0 0 0 25px rgba(0, 0, 0, 0.1);
    margin: 10% 0;
}
.about-me-info {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-bottom: 3%;
}
.right div {
	float: right;
}
.left img {
	float: right;
}
#about-me h3{
	text-align: left;
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #2ae4dc;
}
#about-me img:hover
{
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}
#about-me img < div {
	position: relative;
}
#education {
	background-image: url(../img/education.jpg);
	background-size: cover;
	position: relative;
}
.eduDetails {
	border: 1px solid #238892;
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    color: #404040;
}
.eduDetails .bg {
	background: #238892;
    height: 150px;
    width: 100%;
    border: 1px solid #31b2bf;
}
.eduDetails .logo {
	width: 43%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: -100px;
}
.logo img {
	width: 150px;
    height: 150px;
}
.eduDetails .text {
	padding-top: 20%;
	padding-bottom: 5%;
	position: relative;
}
.text h3 {
	color: #238892;
}



